$background-color-body: #D2FDFF;
$background-color-header: #FBE8A6;
$text-color-primary: #F4976C;
$header-color-primary: #303C6C;
$header-color-shadow: #B4DFE5;

$background-color-body: #41B3A3;
$background-color-header: #E8A87C;
$text-color-primary: #C38D9E;
$header-color-primary: #E27D60;
$header-color-shadow: #85DCBA;

$background-color-body: #ECECEC;
$background-color-header: #F3D250;
$text-color-primary: #000000;
$header-color-primary: #F78888;
$header-color-shadow: #90CCF4;

$background-color-body: #FFFFFF;
$background-color-header: #FFCCBC;
$text-color-primary: #000000;
$header-color-primary: #00887A;
$header-color-shadow: #D3E3FC;

$background-color-body: #AFD1ED;
$background-color-header: #FFECC1;
$text-color-primary: #DD1C1A;
$header-color-primary: #1D4B87;
$header-color-shadow: #F0C808;

//$background-color-body: #FDF5EA;
//$background-color-header: #FCA885;
//$text-color-primary: #242424;
//$header-color-primary: #F96066;
//$header-color-shadow: #460705;

$link-color: purple;
$border-color: green;
